---
layout: main
---

<div class="chapter">
  <a href="JWT/">
    <!-- 700x450 pixels -->
      <img src=assets/img/JWT.png alt="JWT/">
  </a>
  <a href="JWT/">
    <div class="chapter_inner">
      <p class="chapter_number">2023, Ago 13</p>
      <h3 class="chapter_title">Series de Hacking JWT (Json Web Tokens)</h3>
    </div>
  </a>
</div>

<div class="chapter">
  <a href="pickle-rick-ctf/">
    <!-- 700x450 pixels -->
      <img src=assets/img/pickle_rick.jpg alt="pickle-rick-ctf/">
  </a>
  <a href="pickle-rick-ctf/">
    <div class="chapter_inner">
      <p class="chapter_number">2023, Ago 13</p>
      <h3 class="chapter_title">Máquina Picke Rick THM</h3>
    </div>
  </a>
</div>

<div class="chapter">
  <a href="directorios-ocultos/">
    <!-- 700x450 pixels -->
      <img src=assets/img/directorios_ocultos.jpg alt="directorios-ocultos/">
  </a>
  <a href="directorios-ocultos/">
    <div class="chapter_inner">
      <p class="chapter_number">2023, Feb 2</p>
      <h3 class="chapter_title">Encuentra directorios ocultos en la web</h3>
    </div>
  </a>
</div>

<div class="chapter">
  <a href="review-ejpt/">
    <!-- 700x450 pixels -->
      <img src=assets/img/ejpt.png alt="review-ejpt/">
  </a>
  <a href="review-ejpt/">
    <div class="chapter_inner">
      <p class="chapter_number">2023, Feb 1</p>
      <h3 class="chapter_title">Review certificación eJPT</h3>
    </div>
  </a>
</div>

<div class="chapter">
  <a href="Tutorial-Bash-Scripting-Para-Hackers-EP-1/">
    <!-- 700x450 pixels -->
      <img src=assets/img/bash_scripting_para_hackers.jpg alt="Tutorial-Bash-Scripting-Para-Hackers-EP-1/">
  </a>
  <a href="Tutorial-Bash-Scripting-Para-Hackers-EP-1/">
    <div class="chapter_inner">
      <p class="chapter_number">2022, Sep 12</p>
      <h3 class="chapter_title">Bash scripting para hackers</h3>
    </div>
  </a>
</div>

<div class="chapter">
  <a href="Tutorial-Nmap-Para-Hackers-EP-1">
    <!-- 700x450 pixels -->
      <img src=assets/img/nmap.jpg alt="Tutorial-Nmap-Para-Hackers-EP-1">
  </a>
  <a href="Tutorial-Nmap-Para-Hackers-EP-1">
    <div class="chapter_inner">
      <p class="chapter_number">2022, Jul 12</p>
      <h3 class="chapter_title">Nmap para hackers</h3>
    </div>
  </a>
</div>

{% for post in paginator.posts %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
        <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <a href="{{post.url | prepend: site.baseurl}}">
      <div class="chapter_inner">
        <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>
        <h3 class="chapter_title">{{post.title}}</h3>
      </div>
    </a>
  </div>
{% endfor %}