
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}B<span>ef</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="https://bountyhacking.github.io/about/">Autor</a>
    <a href="https://www.linkedin.com/in/thomyemerson/">Contacto</a>
    <a href="https://bountyhacking.github.io/tags/">Contenido</a>
    <a href="https://app.hackthebox.com/profile/924118">HackTheBox Profile</a>
    <a href="https://tryhackme.com/p/bountyhacker">TryHackMe Profile</a>
  </nav>
</header> <!-- End Section Header -->